body {
	max-width: 50%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto Mono', 'Courier New';
}

/* TEXT DISPLAY */

.presentation {
	width: 400px;
	margin: auto;
	padding: 2rem;
	text-align: center;
}



/* CALCULATOR */


.calculator {
	max-width: 400px;
	margin: auto;
	border: 2px solid #333;
	border-radius: 15px;
	padding: 1rem;
	background-color: #aaa;
	box-shadow: 10px 5px 5px #555;
}


/* CALCULATOR  SCREEN */

.calculator__screen {
	border: medium solid #0FFF0F;
	text-align: right;
	border-radius: 15px;
	background-color: #eee;
	margin-bottom: .75rem;
}


.calculator__screen--last {
	font-size: 1rem;
}

.calculator__screen--current {
	font-size: 1.5rem;
	border: medium dashed #3F3F3F;
}




/* CALCULATOR  BUTTONS */

.calculator__buttons {
	display: grid;
	grid-template-rows: repeat(4, 1fr) ;
	grid-template-columns: repeat(4, 1fr) ;
	gap: 1rem;
}

.btn {
	padding: 10px;
	border-radius: 50%;
	background-color: #eee;
	box-shadow: 5px 2.5px 2.5px #555
}

.btn.operator {
	background-color: #BF980C;
}

.btn.all-clear, .btn.delete {
	background-color: #B46060
}

.number--zero {
	grid-row: 5;
	grid-column: 1;
	grid-column-end: span 2;
	border-radius: 15px;
}


/* CALCULATOR COPYRIGHT ICONS */

.calculator__copyright {
	text-align: center;
	padding: 1rem 0 0 0;
	gap: 2rem;
}

a {
	text-decoration: none;
    padding: 0px 2px;    
}

.fab {
    transition: transform 0.3s ease-in-out;
	color: #eee;
}



.fab:hover {
    transform: rotate(360deg)scale(1.2);
}



/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {

	body {
		max-width: 100%;
	}

	.presentation {
		width: 50%;
	}


	.calculator {
		min-width: 200px;
	}
}